<link rel="stylesheet" href="styles.css">
<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">Start Effect</button>
    <div id="effect" :class="{highlight: highlight, shrink: shrink}"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="['blue', 'green-bg']">I got some classes :)</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <label>3:</label>
    <input type="text" v-model="classToAttach">
    <div :class="classToAttach">123</div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <label>4:</label>
    <input type="text" v-model="classToAttach">
    <input type="text" v-model="boolToAttach">
    <div :class="[{'green-bg': boolToAttach}, classToAttach]">456</div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <label>5:</label>
    <input type="text" v-model="setStyle.color">
    <div :style="setStyle">789</div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button @click="startProgress">Start Progress</button>
    <div :class="['progress-bar']" :style="progressBar"></div>
  </div>
</div>

<script src="app.js"></script>